
.bigfont {
    color: blue;
    font-weight: bold
}

th span {
    float: right;
    text-align:right;
    color: darkkhaki
}

.glyphicon-arrow-up {
    color: aqua
}

.glyphicon-arrow-down {
    color: coral
}

.panel-title {
    font-weight: bold
}

.panel-body {
    background-color: azure
}

.form-group span label {
    width: 65px;
    text-align: right;
    text-justify:inter-ideograph;
}

.resptxt_style {
    height: 170px;
    width: 100%;
}

.btn-group-justified button {
    margin: 10px;
}