<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <script type="text/javascript">

  </script>

  <body>
  <div id="app">
    <div id="home" v-show="0 === svrid_page">
    <div>
        栏目选择:
        <input type="checkbox" value="svrid" v-model="colm_checked" /> 客户ID
        <input type="checkbox" value="svrname" v-model="colm_checked" />应用名
        <input type="checkbox" value="clitype" v-model="colm_checked" />应用类型
        <input type="checkbox" value="clisock" v-model="colm_checked" />IP
        <input type="checkbox" value="_mainconf" v-model="colm_checked" />主配置
        <input type="checkbox" value="shell" v-model="colm_checked" />启动命令
        <input type="checkbox" value="pid" v-model="colm_checked" />进程ID
        <input type="checkbox" value="rack" v-model="colm_checked" />机房机架
        <input type="checkbox" value="begin_time" v-model="colm_checked" />启动时间
        <input type="checkbox" value="atime" v-model="colm_checked" />活跃时间
    </div>

    <table class="table table-striped" border="1">
      <tr style="cursor:pointer;">
        <th v-if="colm_checked.indexOf('svrid') >= 0" @click="onSort('svrid',1)">客户ID <span :class="spanclass('svrid') "></span> </th>
        <th v-if="colm_checked.indexOf('svrname') >= 0" @click="onSort('svrname',0)">应用名<span :class="spanclass('svrname')"></span></th>
        <th v-if="colm_checked.indexOf('clitype') >= 0" @click="onSort('clitype',1)">应用类型 <span :class="spanclass('clitype') "></span> </th>
        <th v-if="colm_checked.indexOf('clisock') >= 0" @click="onSort('clisock',0)">IP <span :class="spanclass('clisock') "></span> </th>
        <th v-if="colm_checked.indexOf('_mainconf') >= 0" @click="onSort('_mainconf',0)">主配置 <span :class="spanclass('_mainconf') "></span> </th>
        <th v-if="colm_checked.indexOf('shell') >= 0" @click="onSort('shell',0)">启动命令 <span :class="spanclass('shell') "></span> </th>
        <th v-if="colm_checked.indexOf('pid') >= 0" @click="onSort('pid',0)">进程ID <span :class="spanclass('pid') "></span> </th>
        <th v-if="colm_checked.indexOf('rack') >= 0" @click="onSort('rack',0)">机房机架 <span :class="spanclass('rack') "></span> </th>
        <th v-if="colm_checked.indexOf('begin_time') >= 0" @click="onSort('begin_time',1)">启动时间 <span :class="spanclass('begin_time') "></span> </th>
        <th v-if="colm_checked.indexOf('atime') >= 0" @click="onSort('atime',1)">活跃时间 <span :class="spanclass('atime') "></span> </th>
        <th>详细</th>
      </tr>
      <template v-for="(cli,idx) in maindata">
      <tr>
        <td v-if="colm_checked.indexOf('svrid') >= 0">{{cli.svrid}}</td>
        <td v-if="colm_checked.indexOf('svrname') >= 0">{{cli.svrname}}</td>
        <td v-if="colm_checked.indexOf('clitype') >= 0">{{cli.clitype}}</td>
        <td v-if="colm_checked.indexOf('clisock') >= 0">{{cli.clisock}}</td>
        <td v-if="colm_checked.indexOf('_mainconf') >= 0">{{cli._mainconf}}</td>
        <td v-if="colm_checked.indexOf('shell') >= 0">{{cli.shell}}</td>
        <td v-if="colm_checked.indexOf('pid') >= 0">{{cli.pid}}</td>
        <td v-if="colm_checked.indexOf('rack') >= 0">{{cli.rack}}</td>
        <td v-if="colm_checked.indexOf('begin_time') >= 0">{{cli.begin_time | toHumanTime}}</td>
        <td v-if="colm_checked.indexOf('atime') >= 0">{{cli.atime | toHumanTime}}</td>
        <td><a @click.prevent="gotoDetail(cli.svrid, idx)" :href="'#'+cli.svrid">详细</a></td>
      </tr>
      </template>
    </table>
    </div>

    <div v-if="svrid_page > 0">
        <a href="#" @click.prevent="gotoDetail(0)" data-toggle="tooltip" title="返回客户列表"
            class="glyphicon glyphicon-arrow-left"> 返回
        </a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">属性信息</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group" v-for="(value, key) in maindata[svrid_idx]">
                        <span data-toggle="tooltip" :title="'原始属性: '+key+'='+value"> 
                        <label>{{key | attrName2Human}}:</label>
                        <input type="text" class="form-control" :value="value" readonly>
                        &nbsp; &nbsp; </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{maindata}}

  </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

  <script src="main.js"></script>
</html>