<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <script type="text/javascript">

  </script>

  <body>
  <div id="app">
    <div id="home" v-show="0 === svrid_page">
    <div>
        栏目选择:
        <template v-for="item in colm_base">
        <input type="checkbox" :value="item" v-model="colm_checked" /> {{item | attrName2Human}}
        </template>
    </div>

    <table class="table table-striped" border="1">
      <tr style="cursor:pointer;">
        <template v-for="item in colm_base">
        <th v-if="colm_checked.indexOf(item) >= 0" @click="onSort(item,1)"> {{item | attrName2Human}} <span :class="spanclass(item) "></span> </th>
        </template>
        <th>详细</th>
      </tr>
      <template v-for="(cli,idx) in maindata">
      <tr>
        <template v-for="item in colm_base">
        <td v-if="colm_checked.indexOf(item) >= 0">{{cli[item]}}</td>
        </template>
        <td><a @click.prevent="gotoDetail(cli.svrid, idx)" :href="'#'+cli.svrid">详细</a></td>
      </tr>
      </template>
    </table>
    </div>

    <div v-if="svrid_page > 0">
        <a href="#" @click.prevent="gotoDetail(0)" data-toggle="tooltip" title="返回客户列表"
            class="glyphicon glyphicon-arrow-left"> 返回
        </a>
        <div class="panel panel-primary">
            
            <div class="panel-heading">
                <h3 class="panel-title">属性信息</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group" v-for="(value, key) in maindata[svrid_idx]">
                        <span v-if="key.indexOf('prvd_') === -1"
                            data-toggle="tooltip" :title="'原始属性: '+key+'='+value"> 
                        <label>{{key | attrName2Human}}:</label>
                        <input type="text" class="form-control" :value="value" readonly>
                        &nbsp; &nbsp; </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-primary" v-if="'_provider_mark' in maindata[svrid_idx]">
            <div class="panel-heading">
                <h3 class="panel-title">服务提供</h3>
            </div>
            <div class="panel-body" v-for="svritem in prvd_obj">
                <form class="form-inline">
                    <div class="form-group" v-for="(value, key) in svritem">
                        <span>
                            <label>{{key}}:</label>
                            <input type="text" class="form-control" :value="value" readonly>
                            &nbsp; &nbsp;
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-primary" v-if="'_provider_mark' in maindata[svrid_idx]">
            <div class="panel-heading">
                <h3 class="panel-title">控制命令</h3>
            </div>
            <div class="panel-body" >
                <form class="form-inline">
                    
                </form>
            </div>
        </div>
    </div>

    {{prvd_obj}}

  </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

  <script src="main.js"></script>
</html>