<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <script type="text/javascript">

  </script>

  <body>
  <div id="app">
    <div>
        栏目选择:
        <input type="checkbox" value="svrid" v-model="colm_checked" /> 客户ID
        <input type="checkbox" value="svrname" v-model="colm_checked" />应用名
        <input type="checkbox" value="clitype" v-model="colm_checked" />应用类型
        <input type="checkbox" value="clisock" v-model="colm_checked" />IP
        <input type="checkbox" value="_mainconf" v-model="colm_checked" />主配置
        <input type="checkbox" value="shell" v-model="colm_checked" />启动命令
        <input type="checkbox" value="pid" v-model="colm_checked" />进程ID
        <input type="checkbox" value="rack" v-model="colm_checked" />机房机架
        <input type="checkbox" value="begin_time" v-model="colm_checked" />启动时间
        <input type="checkbox" value="atime" v-model="colm_checked" />活跃时间
    </div>

    <table class="table table-striped" border="1">
      <tr>
        <th v-if="colm_checked.indexOf('svrid') >= 0"><a @click="onSort('svrid',1)">客户ID</a></th>
        <th v-if="colm_checked.indexOf('svrname') >= 0"><a @click="onSort('svrname',0)">应用名</a></th>
        <th v-if="colm_checked.indexOf('clitype') >= 0"><a @click="onSort('clitype',1)">应用类型</a></th>
        <th v-if="colm_checked.indexOf('clisock') >= 0"><a @click="onSort('clisock',0)">IP</a></th>
        <th v-if="colm_checked.indexOf('_mainconf') >= 0"><a @click="onSort('_mainconf',0)">主配置</a></th>
        <th v-if="colm_checked.indexOf('shell') >= 0"><a @click="onSort('shell',0)">启动命令</a></th>
        <th v-if="colm_checked.indexOf('pid') >= 0"><a @click="onSort('pid',0)">进程ID</a></th>
        <th v-if="colm_checked.indexOf('rack') >= 0"><a @click="onSort('rack',0)">机房机架</a></th>
        <th v-if="colm_checked.indexOf('begin_time') >= 0"><a @click="onSort('begin_time',1)">启动时间</a></th>
        <th v-if="colm_checked.indexOf('atime') >= 0"><a @click="onSort('atime',1)">活跃时间</a></th>
        <th>详细</th>
        <th></th>
      </tr>
      <template v-for="cli in maindata">
      <tr>
        <td v-if="colm_checked.indexOf('svrid') >= 0">{{cli.svrid}}</td>
        <td v-if="colm_checked.indexOf('svrname') >= 0">{{cli.svrname}}</td>
        <td v-if="colm_checked.indexOf('clitype') >= 0">{{cli.clitype}}</td>
        <td v-if="colm_checked.indexOf('clisock') >= 0">{{cli.clisock}}</td>
        <td v-if="colm_checked.indexOf('_mainconf') >= 0">{{cli._mainconf}}</td>
        <td v-if="colm_checked.indexOf('shell') >= 0">{{cli.shell}}</td>
        <td v-if="colm_checked.indexOf('pid') >= 0">{{cli.pid}}</td>
        <td v-if="colm_checked.indexOf('rack') >= 0">{{cli.rack}}</td>
        <td v-if="colm_checked.indexOf('begin_time') >= 0">{{cli.begin_time}}</td>
        <td v-if="colm_checked.indexOf('atime') >= 0">{{cli.atime}}</td>
        <td><a href="#">详细</a></td>
      </tr>
      </template>
    </table>
    {{maindata}}

  </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

  <script src="main.js"></script>
</html>