<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>服务治理</title>
  </head>
  
<body>
    <div id="app">
        <div class="panel panel-info">
            <div class="panel-heading">服务提供</div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" v-for="(valarr, pname) in maindata"
                        @click="onClickName(pname)"
                        :class="curPrvd==pname? 'active': ''"
                        class="list-group-item prvditem" >
                        <span class="badge">{{valarr.length}}</span>
                        <span class="prvdname">{{pname}}</span>
                    </a>

                </div>
            </div>

            <div class="panel-body prvd-contant" 
                 v-for="(item0, idx) in maindata[curPrvd]">
                <form class="form-inline">
                    <div class="form-group">
                       

                        <div class="input-group vcls-input" v-for="(itmVal, itmKey) in item0"
                            :class="'vcls-input-'+itmKey">
                            <span class="input-group-addon item-key">{{itmKey}}</span>
                            <input type="text" v-if="isKeyReadOnly(itmKey)"
                                 :value="itmVal"
                                 class="form-control inputtext"
                                aria-describedby="basic-addon3" readonly>
                            <input type="number" v-else
                                 :value="itmVal"
                                 @change="onItemValChange($event, item0, itmKey)"
                                 class="form-control inputtext"
                                aria-describedby="basic-addon3">
                                
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

  <script src="https://vuejs.org/js/vue.min.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>


  <script src="prvd.js"></script>
</html>